$primary-extradark: #422B6C;
$primary-dark: #49237C;
$primary-medium: #5E3A8F;
$primary-light: #643F90;
$primary-extralight: #7551A1;

$primary-extradark-transparent: rgba(66, 43, 108, 0.8);
$primary-light-transparent: rgba(73, 35, 124, 0.6);

$caramilk: #F3D1AA;
$caramilk-dark: #CEA87D;

$valentines: #F01852;

$error : #ff4268;

