@import '../../scss/colours';
@import '../../scss/layout';

.result {
    text-align: center;
    max-width: 1040px;
    margin: auto;

    & .button {
        display: block;
        margin: 15px auto;
        background-color: $valentines;
        font-size: 16px;
        text-transform: uppercase;
    }

    & .album__canvas {

        width: 250px;
        height: 250px;

        box-shadow: 0px 0px 5px $primary-extradark-transparent;

        @media screen and (min-width: $tablet) {
            width: 400px;
            height: 400px;
        }

    }

    

    & .button--preview {
        background: $caramilk-dark;
        width: 94px;
        height: 36px;
        padding: 0px;
        display: block;
        border-radius: 4px;
        margin: 15px auto 10px;
        position: static;
        border:none;


        & .icon {
            position: static;
            width: 100%;
            padding: 0px;
            font-size: 30px;
            line-height: 34px;
            transition: all 0.250s;
            top: 10px;
            left: 0px;
            
            & span {
                font-size: 16px;
                font-family: 'GalanoGrotesque-Bold', Arial, Helvetica, sans-serif;
                position: relative;
                bottom: 9px;
                right: 8px;
                transition: none;
                letter-spacing: 0.5px;
            }

            &.icon--pause {
                opacity: 0;
                transform: scale(0);
            }

            &.icon--play {
                opacity: 1;
                transform: scale(1);
            }

            
        }

        &.active {

            & .icon {

                &.icon--pause {
                    opacity: 1;
                    transform: scale(1);
                    position: relative;
                    bottom: 34px;
                    top: unset
                }
                &.icon--play {
                    opacity: 0;
                    transform: scale(0);
                    position: static;
                }

            }

            &.paused {

                animation-name: none;

                & .icon {

                    &.icon--pause {
                        opacity: 0;
                        transform: scale(0);
                        
                    }
                    &.icon--play {
                        opacity: 1;
                        transform: scale(1);
                        position: static;
                    }

                }

            }
        }

        & .loader {

            width: 90px;
            height: 30px;
            bottom: 66px;
            left: 0px;
            text-align: right;
            line-height: 28px;
            background: $caramilk-dark;
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
            transition: 0.250s;
            position: relative;
    
            & div {
                width: 3px;
                animation: loaderbars-small 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
                background-color: #FFF;
            }
    
            & div:nth-child(1) {
                left:5px;
                animation-delay: -0.24s;
            }
    
            & div:nth-child(2) {
                left:10px;
                animation-delay: -0.12s;
            }
    
            & div:nth-child(3) {
                left:15px;
                animation-delay: 0;
            }
    
            & span {
                color: white;
                text-transform: uppercase;
                font-size: 15px;
                margin-right: 2px;
            }
        }
    
    
    
        &.loading {
    
            & .loader {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
                transition: 0.250s;
            }
        }
    }

}

@keyframes loaderbars-small {
    0% {
        top: 6px;
        height: 18px;
    }
    
    50%, 100% {
        top: 8px;
        height: 14px;
    }

}


