<div class='page-container legal'>

  <h2 class="heading">TERMS AND CONDITIONS: Cadbury P.S. ‘Mzansi Love Songs’ Campaign</h2>
  <br>
  <p class="text">
    Please read these Terms and Conditions carefully. 
    Participation in this Promotion will constitute your agreement to comply with these Terms and Conditions. 
    If you do not agree with these Terms and Conditions, please do not participate.
    <br>
    <br>
    The Terms and Conditions set out below apply to all participants submitting entries for the ‘Mzansi Love Songs’ P.S. Campaign. 
  </p>

  <ol>

    <li>
      <h2 class="heading">THE PROMOTION</h2>
      <p class="text">
        <b>The Cadbury P.S. Mzansi Love Songs</b> 
        conducted by Mondelez South Africa (PTY) Limited, 
        6 Woodmead Estate, 1 Woodmead Drive, Woodmead, Sandton, 2191, South Africa, Tel: 011 253 4000 (the Promoter).
      </p>
    </li>

    <li>
      <h2 class="heading">CAMPAIGN PERIOD</h2>
      <ol>
        <li>
          <p class="text">
            The Campaign will run from 07 January 2019 to 07 February 2019. No submissions received after midnight on 07 February 2019 will be accepted.
          </p>
        </li>
        <li>
          <p class="text">
            The Campaign Period may be extended or curtailed at the discretion of the Promoter.
          </p>
        </li>
      </ol>
    </li>

    <li>
      <h2 class="heading">WHO MAY ENTER</h2>
      <ol>
          <li>
            <p class="text">
              All participants must:
			</p>
			<ol class="alpha">
				<li>Be a natural person and be at least 12 (twelve) years of age at the date of submission.</li>

				<li>In the event that a person is under the age of 18 (eighteen) years at the date of entry, they may only partake in the campaign if they have been given the requisite parental consent.</li>

				<li>Be a citizen of the Republic of South Africa and/or legal resident of the country.</li>

				<li>Be in possession of a valid South African identity document, resident/work permit and/or driver’s licence.</li>
			</ol>
          </li>
        </ol>
    </li>

	<li>
		<h2 class="heading">HOW TO QUALIFY FOR THE CAMPAIGN</h2>
		<ol>
			<li>
			<p class="text">
				To qualify for the song selection, each participant must write a short song, not exceeding 350 characters including spaces on the P.S. Website.
			</p>
			</li>
			<li>
			<p class="text">
				Entry is free, and participants may only enter 3 (three) songs in the campaign period.  
			</p>
			</li>
			<li>
				<p class="text">
					Participants must log into the P.S. Website and provide preferred contact details to enter.
				</p>
			</li>
			<li>
				<p class="text">
					Multiple entries will be permitted subject to each entry being submitted separately and in accordance with entry requirements. 
				</p>
			</li>
		</ol>
	</li>

	<li>
		<h2 class="heading">SONGS</h2>
		<ol>
			<li>
				<p class="text">
					The Campaign will afford participants the opportunity to have the song lyrics they have written produced in a professional sound studio with professional vocal artists.
				</p>
			</li>
			<li>
				<p class="text">
					The selected song writers of The Campaign cede all rights of any creative property generated (including but not limited to audio, audio-visual, still images) to the Promoter, and agrees to allow The Promoter the ability to use all content as advertising collateral, or for any need they deem necessary.    
				</p>
			</li>
			<li>
				<p class="text">
					By submitting song lyrics as part of this campaign you are giving the promoter the rights to edit or tweak the lyrics as required in the song creation process. 
				</p>
			</li>
			<li>
				<p class="text">
					All song finalists will be subject to a verification process. Finalists will be confirmed only once the verification process has been completed.
				</p>
			</li>
			<li>
				<p class="text">
					Both, songs and finalists, will be chosen at the promoter’s discretion.
				</p>
			</li>
			<li>
				<p class="text">
					Songs will be selected based on how personal they are; however, all songs will be chosen entirely at the promoter’s discretion.
				</p>
			</li>
			<li>
				<p class="text">
					By submitting song lyrics as part of this campaign you are giving the promoter the right to publish your name on the <a class="link" href='https://www.cadbury.co.za/psbar/'> https://www.cadbury.co.za/psbar/ </a> 
					which can be shared on social platforms. 
				</p>
			</li>
			<li>
				<p class="text">
					Participants will be notified via the preferred method selected during the entry process. The Promoter will not accept responsibility for any communication issues that arise. 
				</p>
			</li>
			<li>
				<p class="text">
					The Promoter reserves the right to carry out reasonable due diligence to confirm eligibility and may refuse to consider a participant’s song if there is suspicion of any irregularities or fraudulent activities.
				</p>
			</li>
			<li>
				<p class="text">
					The Promoter reserves the right to carry out reasonable due diligence to confirm eligibility and help ensure that the use of any such person in advertising or publicity for the Promotion will not bring the Promoter or any of the Promoter’s brands into public disrepute, contempt, scandal or ridicule or reflect unfavourably on the Promotion as determined by Promoter in its sole discretion. 
				</p>
			</li>
			<li>
				<p class="text">
					The Promoter may refuse to produce a participant’s song if there is suspicion of any irregularities, fraudulent activities or copyright infringements. 
				</p>
			</li>
			
		</ol>
	</li>

	<li>
		<h2 class="heading">INDEMNITY</h2>
		<ol>
			<li>
				<p class="text">
					To the extent permitted by the Consumer Protection Act and any other applicable law: 
				</p>
				<ol class="alpha">
					<li>The participant hereby indemnifies the Promoter, its associated companies (directors, officers and employees) and agents against any direct, indirect, special, incidental, consequential or punitive damages or loss of any kind regardless of how this was caused, and whether it arose under the law of contract or delict or otherwise, because of the participant’s entrance to the Promotion. </li>
	
					<li>The Promoter excludes all warranties (express or implied), representations and liabilities regarding this Promotion (other than for death or personal injury caused by its negligence and/or fraud).</li>
	
					<li>The Promoter reserves the right, at any time, to verify the validity of participants (including but not limited to a participant’s identity, age, place of residence) and to reject any participant who has not complied with these Terms and Conditions. Errors and omissions may be accepted at the Promoter’s discretion. Failure by the Promoter to enforce any of its rights at any stage does not constitute a waiver of those rights. </li>
	
					<li>Neither Promoter nor its agents or distributors will have any liability in relation to this Promotion. </li>
				</ol>
			</li>
			
		</ol>
	</li>

	<li>
		<h2 class="heading">CONFIDENTIALITY</h2>
		<ol>
			<li>
				<p class="text">
					Participants of this Promotion are voluntarily providing their personal information to the Promoter, its associated agencies and the third-party service providers running the Promotion in conjunction with the Promoter.
				</p>
			</li>
			<li>
				<p class="text">
					By entering this Promotion, participants authorise the Promoter to collect, store and use (not share) personal information of participants for communication or statistical purposes. Participants are entitled to decline any marketing communication and inform the Promoter in writing should the participant wish to be removed from all communication.
				</p>
			</li>
			<li>
				<p class="text">
					By entering this Promotion, the participant consents that the Promoter may use names and images taken of the participants for publicity purposes, 
					without any further remuneration being payable to the winner. All promotional material will become the sole property of the Promoter. 
					However, the participant has the right to decline participating in any promotional activity or to object to these images being used by written 
					notification to the Promoter at 6 Woodmead Estate, 1 Woodmead Dr, Woodmead, Sandton, 2191, South Africa. Attention: Legal Department. 
					The written notification is to reach the Promoter by no later than the last stipulated draw date. 
				</p>
			</li>
		</ol>
	</li>

	<li>
		<h2 class="heading">GENERAL</h2>
		<ol>
			<li>
				<p class="text">
					The Promoter reserves the right to amend, modify, change, postpone, suspend or cancel this Promotion and any prizes, or any aspect thereof, without notice at any time, for any reason that the Promoter reasonably deems necessary.  
				</p>
			</li>
			<li>
				<p class="text">
					By entering this Promotion, participants authorise the Promoter to collect, store and use (not share) personal information of participants for communication or statistical purposes. Participants are entitled to decline any marketing communication and inform the Promoter in writing should the participant wish to be removed from all communication.
				</p>
			</li>
			<li>
				<p class="text">
					The onus rests on the participants to check the website for updates to the Terms and Conditions. 
				</p>
			</li>
			<li>
				<p class="text">
					No liability shall lie on the Promoter in favour of any participant, third party arising from such cancellation, 
					suspension or termination. Therefore, the participant waives his/her right which he/she may have against the Promoter and 
					hereby acknowledges that he/she will have no right of recourse or claim of any nature whatsoever against the Promoter.
				</p>
			</li>
			<li>
				<p class="text">
					The Promoters decision is final, and no correspondence will be entered into. This Promotion is in no way sponsored, 
					endorsed or administered by or associated with Facebook.
				</p>
			</li>
			<li>
				<p class="text">
					In part or all of any clause of these Terms and Conditions is illegal, invalid or enforceable: 
				</p>
				<ol class="alpha">
					<li>It will be read down to the extent necessary to ensure that it is not illegal, 	invalid or unenforceable, but if that is not possible, </li>
	
					<li>It will be severed from these Terms and Conditions, and the remaining provisions of these Terms and Conditions will continue to have full force and effect.  </li>
				</ol>
			</li>
			<li>
				<p class="text">
					All Terms and Conditions are subject to the laws of Republic of South Africa, 
					and should a doubt or dispute occur, it will be taken before the courts of Republic of South Africa. 
				</p>
			</li>
			<li>
				<p class="text">
					This Promotion is not applicable in conjunction with any other offers/promotions offered by the Promoter. 
				</p>
			</li>
		</ol>
	</li>

  </ol>
  <br>
  <br>

</div>
